// Imported Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

// Primary Colors
$darkBlue : hsl(233, 47%, 7%);
$darkDesaturatedBlue :  hsl(244, 38%, 16%);
$softViolet : red;

//Neutral Colors
$white : hsl(0, 0%, 100%);
$mainParagraphWhite : hsla(0, 0%, 100%, 0.75);
$statsHeadingsWhite :  hsla(0, 0%, 100%, 0.6);

//font-stack
$inter-font : "Inter", sans-serif;
$lexendDeca-font: "Lexend Deca", sans-serif;
